# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSs
.DS_Store

# IDEs
.idea
.kdev4
cmake-build-*

# Source
build/
.ExternalData
*~
*.pyc
*.orig
.ExternalData
SuperBuild/.ExternalSource/
Documentation/docs/build
#ignore CLion temporary files.
.idea/
